<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title class="stylish-title">{{ user_manager.USER_APP_NAME }}</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}
</head>

<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><h1>{{ user_manager.USER_APP_NAME }}</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if call_or_get(current_user.is_authenticated) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.edit_user_profile') }}">
                            {{ current_user.username or current_user.email }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.logout') }}">
                            Sign out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.login') }}">
                            Sign in
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block menu %}
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href= "{{ url_for('home_page') }}">
                        Home page
                    </a>
                </li>
            </ul>
        {% endblock %}
        <hr>

        <div id="main-div" class="mb-4">
            <!-- One-time system messages called Flash messages -->
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                {% set category = 'danger' %}
                            {% endif %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message|safe }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}

            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>

        <hr class="mb-4">
        <div id="footer-div" class="text-muted text-center">
            {{ user_manager.USER_APP_NAME }} {{ user_manager.USER_APP_VERSION }} | Just practicing... CogSci Osnabrück 2023
        </div>
    </div>
{% endblock %}

<!-- Bootstrap JS and Popper.js for Bootstrap components -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Allow sub-templates to insert extra HTML to the bottom of the body -->
{% block extra_js %}{% endblock %}
</body>
</html>
