<div>
    You can start rating the movies now, have fun!
    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    {% for link in m.links %}
                        IMDb: <a href="https://www.imdb.com/title/{{ link.imdb_id }}" target="_blank">{{ link.imdb_id }}</a><br>
                        TMDb: <a href="https://www.themoviedb.org/movie/{{ link.tmdb_id }}" target="_blank">{{ link.tmdb_id }}</a>
                    {% endfor %}
                </p>
                <p>
                    {% for tag in m.tags %}
                        <span class="label label-info">{{ tag.tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="panel-footer movie-rating">Rate:
                <a href="#" class="card-link" data-movieid={{m.id}}>1</a>
                <a href="#" class="card-link" data-movieid={{m.id}}>2</a>
                <a href="#" class="card-link" data-movieid={{m.id}}>3</a>
                <a href="#" class="card-link" data-movieid={{m.id}}>4</a>
                <a href="#" class="card-link" data-movieid={{m.id}}>5</a> Stars
            </div>
        </div>
    {% endfor %}

    <form action={{url_for("movies_page")}} method='GET'>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
