{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-title mb-0"><b>{{ m.title }}</b></h4>
            </div>
            <div class="card-body">
                <p>
                    {% for g in m.genres %}
                        <span class="badge badge-secondary">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    {% for link in m.links %}
                        IMDb: <a href="https://www.imdb.com/title/{{ link.imdb_id }}" target="_blank">{{ link.imdb_id }}</a><br>
                        TMDb: <a href="https://www.themoviedb.org/movie/{{ link.tmdb_id }}" target="_blank">{{ link.tmdb_id }}</a>
                    {% endfor %}
                </p>
                <p>
                    {% for tag in m.tags %}
                        <span class="badge badge-info">{{ tag.tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <div class="movie-rating">Rate:
                    <a href="#" class="card-link" data-movieid={{m.id}}>1</a>
                    <a href="#" class="card-link" data-movieid={{m.id}}>2</a>
                    <a href="#" class="card-link" data-movieid={{m.id}}>3</a>
                    <a href="#" class="card-link" data-movieid={{m.id}}>4</a>
                    <a href="#" class="card-link" data-movieid={{m.id}}>5</a> Stars
                </div>
            </div>
        </div>
    {% endfor %}

    <form action={{url_for("movies_page")}} method='GET'>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // Function to handle the click event on any rating link
    function rateMovie(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating_score = this.textContent;
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/rate', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('movieid=' + movieid + '&rating_score=' + rating_score);
    }

    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', rateMovie);
    }
</script>

{% endblock %}
