{% extends "flask_user_layout.html" %}
{% block content %}
    <h2>Profile Page</h2>
    <p>Welcome, {{ current_user.username }}!</p>

    <h3>Rated Movies:</h3>
    <ul>
        {% for movie in rated_movies %}
            <li>{{ movie.title }} - Rating: {{ movie.rating }}</li>
        {% endfor %}
    </ul>

    <h3>Favorite Genres:</h3>
    <ul>
        {% for genre in favorite_genres %}
            <li>{{ genre.genre }} - Score: {{ genre.score }}</li>
        {% endfor %}
    </ul>


{% endblock %}
